/*
created by
TheSmallHanCat
Koyuki
用于文件目录美化以及背景图
*/

body{
	background-image:url('http://api.hancat.link/cloud/api.php');//将此处替换为你自己的背景图api地址
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

	@keyframes gradientBG {
	    0% {
		background-position: 0% 50%;
		}

		50% {
		background-position: 100% 50%;
		}

		100% {
		background-position: 0% 50%;
		}
	}
.fish-container {
				margin: 0;
				padding: 0;
				background-color: transparent;
				width: 100%;
				height: 200px;
				z-index: -1;
				position: fixed;
				bottom: 0;
				left: 0;
				opacity: .5;
			}


.hope-c-PJLV-igScBhH-css{
    opacity: .8;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ijgzmFG-css{
    opacity: .8; !important
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iigjoxS-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikEIIxw-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iiuDLME-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikSuVsl-css
{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.left-toolbar-box hope-c-PJLV hope-c-PJLV-ifiEvmt-css
{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.sw-Hennnyano {
    width: 224px;
    height: 224px;
    position: fixed;
    left: 0;
    z-index: 100;
    pointer-events: auto!important;
    -webkit-transition: bottom 1.3s cubic-bezier(0,2.06,.56,.78);
    transition: bottom 1.3s cubic-bezier(0,2.06,.56,.78);
    bottom: -230px
}
@media print,screen and (max-width: 1024px) {
    .sw-Hennnyano {
        width:25.26042vw;
        height: 25.26042vw;
        bottom: -25.26042vw
    }
}

.sw-Hennnyano.show {
    bottom: -60px
}
@media print,screen and (max-width: 1024px) {
    .sw-Hennnyano.show {
        bottom:-6.25vw
    }
}

.sw-Hennnyano .body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(https://cdn.jsdelivr.net/gh/TheSmallHanCat/Better_Alist@main/img/img_hennyano_body.png) left bottom/contain no-repeat
}
.sw-Hennnyano .eyes {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(https://cdn.jsdelivr.net/gh/TheSmallHanCat/Better_Alist@main/img/img_hennyano_eyes.png) left bottom/contain no-repeat
}

@media(any-hover: hover) {
    .sw-Hennnyano:hover {
        cursor:pointer!important
    }
}
